#apply-table {
  margin: 50px 10px 0px 10px;
}

#apply-btn {
  font-size: 22px;
  margin: auto;
  padding: 10px 25px;
  background-color: #3b4877;
  display: inline-block;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#sort-btn {
  font-size: 22px;
  margin: auto;
  padding: 10px 25px;
  background-color: #3b4877;
  display: inline-block;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#apply-btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrape-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px calc(50% - 150px) calc(100vh - 341px) calc(50% - 150px);
  background-color: #3a4973;
  height: 200px;
  padding: 20px;
  width: 205px;
  border-radius: 5px;
}

#scrape-form > * {
  width: 195px;
  line-height: 20px;
  border-radius: 5px;
  padding-left: 10px;
}

#scrape-form > a {
  width: 172px;
  background-color: white;
  padding: 5px 15px;
  border: 1px solid #515151;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #515151;
}

#screenshot {
  width: 500px;
  height: 500px;
}

.modal-backdrop {
  width: 100vw;
  height: 1000px;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.7);
  position: fixed;
  top: -100px;
  z-index: 2;
  display: flex;
  align-items: center;
}

.modal {
  margin: 0 auto;
  margin-top: 100px;
  background-color: #f0f0f0;
  margin-bottom: 200px;
  width: 400px;
  height: 500px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

#li_auth_modal_form {
  display: flex;
  flex-direction: column;
  width: 245px;
  margin-top: 50px;
  align-items: center;
}

#li_auth_modal_form * {
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

#li_auth_modal_form input {
  width: 200px;
}

#li_auth_modal_form a {
  border: 1px solid black;
  padding: 5px 20px;
  background-color: white;
}
