#apply-table {
  margin: 50px 10px 0px 10px;
}

#apply-btn {
  font-size: 22px;
  margin: auto;
  padding: 10px 25px;
  background-color: #3b4877;
  display: inline-block;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#sort-btn {
  font-size: 22px;
  margin: auto;
  padding: 10px 25px;
  background-color: #3b4877;
  display: inline-block;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#apply-btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrape-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px calc(50% - 150px) calc(100vh - 341px) calc(50% - 150px);
  background-color: #3a4973;
  height: 200px;
  padding: 20px;
  width: 205px;
  border-radius: 5px;
}

#scrape-form > * {
  width: 100%;
  box-sizing: border-box;
  line-height: 20px;
  border-radius: 5px;
  padding-left: 10px;
}

#scrape-form > a {
  width: 172px;
  background-color: white;
  padding: 5px 15px;
  border: 1px solid #515151;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #515151;
}

#screenshot {
  width: 500px;
  height: 500px;
}

.modal-backdrop {
  width: 100vw;
  height: 1000px;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.7);
  position: fixed;
  top: -100px;
  z-index: 2;
  display: flex;
  align-items: center;
}

.modal {
  margin: 0 auto;
  margin-top: 100px;
  background-color: #f0f0f0;
  margin-bottom: 200px;
  width: 400px;
  height: 500px;
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

#li_auth_modal_form {
  display: flex;
  flex-direction: column;
  width: 245px;
  margin-top: 20px;
  align-items: center;
}

#modal-header {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

#li_auth_modal_form * {
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

#li_auth_modal_form input {
  width: 200px;
}

#li_auth_modal_form button {
  padding: 5px 20px;
  width: 75%;
  font-size: 14px;
}

.loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
