#profile-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 250px;
  background-color: #3a4973;
  padding: 20px 0;
  border-radius: 5px;
}

#profile-form label {
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}

#profile-form a {
  margin-top: 25px;
  background-color: white;
  padding: 5px 35px;
  font-size: 14px;
  border-radius: 5px;
}

#profile-form input {
  margin: 10px 20px;
  padding-left: 5px;
  border-radius: 5px;
  line-height: 18px;
  color: black;
}

#profile-form input:last-of-type {
  color: white;
}

#profile-input {
  width: 200px;
}
